<header>
    <div class="p-5 flex shadow-lg">
        <div class="text-2xl w-3/5">Pravin Kittappa</div>
        <nav class="w-2/5">
            <ul class="flex items-center justify-between">
                <li><a href="portfolio" routerLink="/portfolio" class="text-gray-700 hover:text-blue-500">Portfolio</a></li>
                <li><a href="#about" class="text-gray-700 hover:text-blue-500">About</a></li>
                <li><a href="resume" routerLink="/resume" class="text-gray-700 hover:text-blue-500">Resume</a></li>
                <li><a href="#contact" class="text-gray-700 hover:text-blue-500">Contact</a></li>
                <li><a href="https://github.com/pravink916" class="text-gray-700 hover:text-blue-500">Github</a></li>
                <li><a href="https://www.linkedin.com/in/pravinkittappa/" class="text-gray-700 hover:text-blue-500">LinkedIn</a></li>
            </ul>
        </nav>
    </div>
</header>

