<header>
  <div class="p-5 flex shadow-lg text-lg absolute w-full">
    <div class="text-3xl w-3/5">
      <a href="landing" routerLink="/landing" class="hover:text-green-400"
        >Pravin Kittappa</a
      >
    </div>
    <nav class="w-2/5">
      <ul class="flex items-center justify-between">
        <li>
          <a href="#about" class="hover:text-green-400">About</a>
        </li>
        <li>
          <a
            href="portfolio"
            routerLink="/portfolio"
            class="hover:text-green-400"
            >Portfolio</a
          >
        </li>
        <li>
          <a href="resume" routerLink="/resume" class="hover:text-green-400"
            >Resume</a
          >
        </li>
        <li>
          <a href="#contact" class="hover:text-green-400">Contact</a>
        </li>
        <li>
          <a href="https://github.com/pravink916" class="hover:text-green-400"
            >Github</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/pravinkittappa/"
            class="hover:text-green-400"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
