<div class="grid grid-cols-1 m-5 ml-7">
    <div class="max-w-sm rounded shadow-lg bg-sky-100 h-48 p-4">
        <div class="text-xl font-semibold text-center">Angular Cookbook</div>
        <hr class="border-t-2 border-gray-300 my-4">
        <div>Application to show case my knowledge and understanding of different concepts in Angular</div>
        <div class="flex pt-3 justify-center">
            <a href="https://github.com/pravink916/angular-cookbook" target="_blank" class="inline-block bg-blue-500 hover:bg-blue-700 text-white rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
                GitHub
              </a>
              <a href="https://angular-cookbook.vercel.app/" target="_blank" class="inline-block bg-green-500 text-white rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">Live Demo</a>
        </div>
    </div>
</div>
